/* This is a mobile first CSS style */
/* Last modified 17 Jun 2020 by Sandor Tudja in Kemnay, Scotland */
/* © Gear Web development 2020 */
:root {
    /* ========================== VARIABLES ========================== */
    /* ----------------- colors ----------------- */
    /*--- gold ---*/
    --base: rgb(174, 148, 83);
    --baseOp1: rgba(174, 148, 83, 0.8);
    --baseOp2: rgba(174, 148, 83, 0.9);
    --baseOp3: rgba(174, 148, 83, 0.3);
    /*--- dark ---*/
    --dark: rgb(0, 0, 0);
    --darkOp1: rgba(0, 0, 0, 0.8);
    --darkOp2: rgba(0, 0, 0, 0.9);
    --darkOp3: rgba(0, 0, 0, 0.3);
    /*--- light ---*/
    --light: rgb(255, 255, 255);
    --lightOp1: rgba(255, 255, 255, 0.8);
    --lightOp2: rgba(255, 255, 255, 0.9);
    --lightOp3: rgba(255, 255, 255, 0.2);
    /* ----------------- fonts ----------------- */
    /* fancy one */
    --fontHea: "Cinzel Decorative", cursive;
    /* normal */
    --fontPar: "Exo 2", sans-serif;
}

/*
====================  TABLE OF CONTENT  ====================
MOBILE portrait
- GLOBAL
  - buttons
  - font styles
- HEADER
  - menu button
- HOME / WELCOME
- THE PERFUME
- PACKAGING
- PERFUME LIST
- PRICE LIST
- GALLERY
- ORDER
- CONTACT
- FOOTER
-------------------------------------------------
MOBILE landscape
- GLOBAL
  - font styles
- HEADER
- HOME / WELCOME
- THE PERFUME
- PACKAGING
- PERFUME LIST
- PRICE LIST
- CONTACT
- FOOTER
-------------------------------------------------
TABLET portrait
@media min-width: 768px
- GLOBAL
- font styles
- buttons
- HEADER
- menu button
- HOME / WELCOME
- THE PERFUME
- PACKAGING
- PERFUME LIST
- PRICE LIST
- GALLERY
- CONTACT
- FOOTER
-------------------------------------------------
TABLET landscape
@media min-width: 1024px
-------------------------------------------------
DESKTOP/LAPTOP
@media min-width: 1336px
- GLOBAL
- font styles
- HEADER
- HOME / WELCOME
- THE PERFUME
- PACKAGING
- PERFUME LIST
- PRICE LIST
- GALLERY
============================================================
*/

/*
=================
GLOBAL
=================
 */
* {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--base);
}

/* menu links to position the sections */
.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

/* menu link only the first one to position the welcome screen */
#an1 {
    top: -130px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: var(--base);
}

.wrapper .block {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 8px;
}

.wrapper .block .frame {
    width: 100%;
    display: grid;
    gap: 26px;
    justify-items: center;
}

hr {
    border: none;
    border-top: dotted;
    border-width: 3px;
    border-color: var(--baseOp1);
    margin: 0 auto;
    width: 90%;
}

.block.light {
    background-color: var(--lightOp1);
}

.block.dark {
    background-color: var(--darkOp1);
}

.hide {
    display: none;
}

/*
buttons
---------------
 */
.btn {
    font-family: var(--fontPar);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 12px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 8px var(--darkOp3);
}

.btn:active {
    box-shadow: 0 0 1px var(--darkOp3);
}

.btn.light {
    color: var(--darkOp1);
    border: 2px solid var(--lightOp1);
    background-color: var(--baseOp1);
}

.btn.light:active {
    color: var(--dark);
    border: 2px solid var(--light);
    background-color: var(--base);
}

.btn.dark {
    color: var(--lightOp1);
    border: 2px solid var(--baseOp1);
    background-color: var(--darkOp1);
}

.btn.dark:active {
    color: var(--light);
    border: 2px solid var(--base);
    background-color: var(--dark);
}
/* *********** */

/*
font styles
---------------
 */
.section-title {
    font-family: var(--fontHea);
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

.section-title.light {
    color: var(--lightOp1);
}

.section-title.dark {
    color: var(--darkOp1);
}

.paragraph {
    font-family: var(--fontPar);
    font-size: 1.2rem;
    line-height: 29px;
    text-align: left;
    opacity: 0.8;
}

.paragraph.light {
    font-weight: 300;
    color: var(--lightOp1);
}

.paragraph.dark {
    font-weight: 400;
    color: var(--darkOp1);
}

::placeholder {
    font-family: var(--fontPar);
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: var(--lightOp3);
    text-align: center;
}

.input {
    font-family: var(--fontPar);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: var(--lightOp1);
    text-align: center;
    padding-bottom: 4px;
}

/*
=================
HEADER
=================
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 1;
}

.phone-menu-BG {
    position: absolute;
    bottom: 0;
    width: 100%;
    fill: var(--darkOp2);
    opacity: 0.8;
}

.logo-header {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    fill: var(--base);
    width: 50px;
    position: absolute;
    top: 5px;
    left: calc(100vw / 2);
    transform: translateX(-40%);
}

.navigation {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

/*
menu button
---------------
 */
.container-menu-btn {
    position: absolute;
    top: -16px;
    right: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    cursor: pointer;
    transform: scale(0.8);
}

.menu-btn {
    width: 56px;
    height: 56px;
}

.line {
    vector-effect: non-scaling-stroke;
    stroke: rgba(255, 255, 255, 0.9);
    stroke-width: 4;
    stroke-linecap: round;
}

.circle {
    vector-effect: non-scaling-stroke;
    opacity: 0;
    stroke: rgba(255, 255, 255, 0.9);
    stroke-width: 4;
    fill: none;
}

/* *********** */
.menu {
    position: absolute;
    top: 48px;
    right: 2px;
}

/* JavaScript handle this class */
.menu.no-show {
    display: none;
}

.menu-item {
    margin-top: 1px;
    box-sizing: border-box;
    width: 134px;
    border: 0.5px solid var(--dark);
    border-radius: 5px;
    background-color: var(--light);
    box-shadow: 0 0 8px var(--darkOp1);
    transform: skewY(-3deg) translateX(210px);
}

.menu-item a {
    display: block;
    list-style: none;
    font-family: var(--fontPar);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
    color: var(--darkOp2);
    padding-left: 12px;
    transition: all 0.2s;
}

/*
=================
HOME / WELCOME
=================
*/
.welcome {
    height: 100vh;
}

@keyframes moveCap {
    25% {
        transform: translateY(-20px);
    }

    75% {
        transform: translateY(10px);
    }
}

.work .bottle-head {
    animation: moveCap 3s infinite;
}

@keyframes scaleFlames {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        transform: scale(0);
        opacity: 1;
    }

    99% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.work .flames {
    animation: scaleFlames 3s infinite;
    transform-origin: 166px 56px;
}

.flame {
    fill-opacity: 0.5;
}

.welcome .frame {
    box-sizing: border-box;
    height: 100%;
    padding: 10vh 0 0;
    align-content: center;
}

.welcome h1,
.welcome h2,
.welcome h3 {
    color: var(--darkOp1);
    font-family: var(--fontHea);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

.welcome h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
}

.welcome h2 {
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;
}

.welcome h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
}

.logo-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.logo-main {
    width: 100%;
    margin-bottom: 6vh;
    text-align: center;
}

.logo {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    fill: var(--base);
    width: 200px;
    transition: all 1.5s ease-in-out;
}

.welcome-text-2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.welcome-text-2 div {
    margin-bottom: 6vh;
}

/*
=================
THE PERFUME
=================
*/
.the-perfume .section-title {
    display: flex;
    flex-flow: column nowrap;
}

.the-perfume .container {
    width: 94%;
    margin: 0 auto;
    padding-top: 40px;
}

.the-perfume .container .paragraph span + span {
    display: block;
    padding-top: 20px;
}

.the-perfume .pictures {
    display: none;
}

/*
=================
PACKAGING
=================
*/
.packaging .container {
    width: 94%;
    margin: 0 auto;
    padding-top: 40px;
}

.packaging .container .paragraph span + span {
    display: block;
    padding-top: 20px;
}

.packaging .pictures {
    width: 100%;
    height: 100%;
    display: none;
}

.packaging .pictures img {
    width: 100%;
}

/*
=================
PERFUME LIST
=================
*/
.btn-container-parlist {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.table.parlist {
    font-family: var(--fontPar);
    text-align: left;
    color: var(--baseOp1);
    width: 100%;
}

.table.parlist th:nth-of-type(2),
.table.parlist th:nth-of-type(4),
.table.parlist td:nth-of-type(2),
.table.parlist td:nth-of-type(4) {
    display: none;
}

.table.parlist th:first-child,
.table.parlist td:first-child,
.table.parlist caption {
    padding-left: 4px;
}

/* selecting all columns but the firs one */
.table.parlist th + th,
.table.parlist td + td {
    padding-left: 16px;
}

.table.parlist,
.table.parlist th,
.table.parlist td {
    border-bottom: 1px solid var(--baseOp3);
    border-collapse: collapse;
}

.table.parlist caption {
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    text-align: left;
    margin-bottom: 22px;
}

.table.parlist th {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.table.parlist td {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 4px;
}

.unavailable {
    color: grey;
    opacity: 0.4;
    text-decoration: line-through;
}

/*
=================
PRICE LIST
=================
*/
.btn-container-pricelist {
    display: none; /* flex in wider screen */
    justify-content: space-between;
    width: 100%;
}

.table.pricelist {
    font-family: var(--fontPar);
    text-align: right;
    color: var(--darkOp1);
}

.table.pricelist td:first-child {
    padding-left: 2px;
}

/* selecting all columns but the firs one */
.table.pricelist td + td {
    padding-left: 6px;
}

.table.pricelist td:last-child {
    padding-right: 2px;
}

.table.pricelist,
.table.pricelist td {
    border-bottom: 1px solid var(--darkOp3);
    border-collapse: collapse;
}

.table.pricelist caption {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 22px;
    text-align: center;
}

.table.pricelist td {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 4px;
    white-space: nowrap;
}

.table.pricelist.init td:nth-of-type(3),
.table.pricelist.ref td:nth-of-type(3),
.table.pricelist.discount td:nth-of-type(2),
.table.pricelist.gift-packaging td:nth-of-type(2) {
    font-weight: bold;
}

/* COVID-19 */
.table.pricelist td {
    font-size: 11px;
}
/* new prices */
.table.pricelist.init td:nth-child(3) {
    position: relative;
    font-weight: normal;
}

.table.pricelist.init td:nth-child(3):before {
    position: absolute;
    bottom: 8px;
    left: 11px;
    content: "";
    width: 84%;
    border-bottom: 2px solid red;
    transform: skewY(-10deg);
}

.table.pricelist.init td:last-child {
    font-weight: bold;
}
/* no refill service */
.table.pricelist.ref {
    position: relative;
    color: rgba(133, 133, 133, 0.3);
}

.table.pricelist.ref:before {
    box-sizing: border-box;
    content: "Sorry.\aThis service temporarily unavailable\a because of the\a Coronavirus (COVID-19)\a measurements.";
    white-space: pre;
    text-align: center;
    position: absolute;
    top: 82px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1.4rem;
    padding: 8px 26px;
    color: rgb(17, 14, 9);
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    background-color: rgb(255, 253, 165);
}

.table.pricelist.gift-packaging td:first-of-type {
    padding-left: 26px;
}

.table.pricelist.gift-packaging td:last-of-type {
    padding-right: 26px;
}
/* END OF COVID-19 */

/*
=================
GALLERY
=================
*/
.gallery {
    margin-top: 10px;
}

/*
more here:
css/style-lightbox.css
*/

/*
=================
ORDER
=================
*/
.order {
    color: var(--base);
}

.order .frame p {
    text-align: center;
}

.order .frame .phone {
    font-size: 2rem;
}

.order .frame span {
    font-size: 1rem;
    font-style: italic;
}

/*
=================
CONTACT
=================
*/
.contact {
    margin-top: 10px;
}

.contact .form {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    justify-items: center;
}

.contact input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--baseOp1);
    background: none;
}

.contact textarea {
    width: 100%;
    min-height: 177px;
    max-height: 800px;
    outline: none;
    border: 2px solid var(--baseOp1);
    border-radius: 14px;
    resize: vertical;
    background: none;
}

.contact .btn {
    padding: 0 18px;
}

/*
=================
FOOTER
=================
*/
footer {
    padding: 20px 10px;
    background-color: var(--darkOp2);
    color: var(--lightOp1);
    display: grid;
    gap: 12px 18px;
    grid-template-columns: 26px auto;
    grid-template-rows: repeat(3, 26px);
    align-items: center;
}

i {
    font-size: 26px;
    justify-self: center;
}

footer a {
    font-family: var(--fontPar);
    font-size: 18px;
    font-weight: 300;
    color: var(--lightOp1);
}

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   MOBILE LANDSCAPE   *****************************
*/
@media only screen and (orientation: landscape) {
    /*
    =================
    GLOBAL
    =================
    */
    .anchor {
        top: -50px;
    }

    .wrapper .block {
        padding: 14px 19px;
    }

    /*
    font styles
    ---------------
    */
    ::placeholder {
        font-size: 20px;
        line-height: 22px;
    }

    .input {
        font-size: 20px;
        line-height: 22px;
        padding-bottom: 4px;
    }

    /*
    =================
    HEADER
    =================
    */
    header {
        height: 48px;
    }

    .container-menu-btn {
        top: -26px;
        right: -19px;
        transform: scale(0.6);
    }

    .logo-header {
        width: 40px;
        top: 4px;
    }

    .menu {
        top: 26px;
        right: 4px;
    }

    /*
    =================
    HOME / WELCOME
    =================
    */
    .welcome .frame {
        padding: 13vh 0 0;
        gap: 0px !important;
    }

    .welcome h3 {
        justify-self: start;
    }

    .logo-container {
        flex-flow: row nowrap;
    }

    .logo-main {
        width: 50%;
        margin-bottom: 0;
    }

    /*
    =================
    THE PERFUME
    =================
    */
    .the-perfume .container {
        width: 96%;
    }

    /*
    =================
    PACKAGING
    =================
    */
    .packaging.container {
        width: 96%;
    }

    /*
    =================
    PERFUME LIST
    =================
    */
    .btn-container-parlist {
        width: 50%;
    }

    .table.parlist th:nth-of-type(2),
    .table.parlist th:nth-of-type(4),
    .table.parlist td:nth-of-type(2),
    .table.parlist td:nth-of-type(4) {
        display: table-cell;
    }

    .table.parlist caption {
        font-size: 22px;
        line-height: 24px;
    }

    /*
    =================
    PRICE LIST
    =================
    */
    .btn-container-pricelist {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .table.pricelist td:first-child {
        padding-left: 26px;
    }

    /* selecting all columns but the firs one */
    .table.pricelist td + td {
        padding-left: 16px;
    }

    .table.pricelist td:last-child {
        padding-right: 26px;
    }

    .table.pricelist caption {
        font-size: 22px;
    }

    .table.pricelist td {
        font-size: 14px;
        line-height: 22px;
    }

    /* COVID-19 */
    .table.pricelist.init td:nth-child(3):before {
        left: 14px;
    }

    .table.pricelist.ref:before {
        content: "Sorry.\aThis service temporarily unavailable\a because of the Coronavirus (COVID-19)\a measurements.";
        top: 66px;
        padding: 14px 44px;
    }

    .table.pricelist.gift-packaging td:first-of-type {
        padding-left: 26px;
    }

    .table.pricelist.gift-packaging td:last-of-type {
        padding-right: 26px;
    }
    /* END OF COVID-19 */

    /*
    =================
    CONTACT
    =================
    */
    .contact .form {
        width: 62%;
        gap: 14px;
    }

    /*
    =================
    FOOTER
    =================
    */
    footer {
        padding: 10px 20px;
        gap: 8px 28px;
        grid-template-columns: 22px auto;
        grid-template-rows: repeat(3, 22px);
    }

    i {
        font-size: 22px;
    }

    footer a {
        font-size: 14px;
    }
}

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   SMALL TABLET PORTRAIT   *****************************
*/
@media only screen and (min-width: 768px) and (orientation: portrait) {
    /*
    =================
    GLOBAL
    =================
    */
    .anchor {
        top: -80px;
    }

    .wrapper .block {
        padding: 40px 30px;
    }

    .wrapper .block .frame {
        gap: 64px;
    }

    hr {
        border-width: 8px;
        width: 80%;
    }

    /*
    buttons
    ---------------
    */
    .btn {
        font-size: 24px;
        line-height: 44px;
        padding: 0 22px;
        border-radius: 16px;
        box-shadow: 0 0 10px var(--darkOp3);
    }

    .btn.light,
    .btn.light:active,
    .btn.dark,
    .btn.dark:active {
        border-width: 3px;
    }

    /* *********** */

    /*
    font styles
    ---------------
    */
    .section-title {
        font-size: 40px;
        line-height: 50px;
    }

    .paragraph {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    ::placeholder {
        font-size: 26px;
        line-height: 36px;
    }

    .input {
        font-size: 26px;
        line-height: 36px;
        padding-bottom: 12px;
    }

    /*
    =================
    HEADER
    =================
    */
    header {
        height: 72px;
    }

    .logo-header {
        top: 10px;
        transform: translateX(-39%) scale(1.2);
    }

    /*
    menu button
    ---------------
    */
    .container-menu-btn {
        top: -18px;
        transform: scale(1);
    }
    /* *********** */

    .menu {
        top: 48px;
        right: 6px;
    }

    .menu-item {
        margin-top: 3px;
        width: 220px;
        border-radius: 8px;
    }

    .menu-item a {
        font-size: 28px;
        line-height: 38px;
        padding: 0 18px;
    }

    /*
    =================
    HOME / WELCOME
    =================
    */
    .welcome .frame {
        padding: 5vh 0 0;
    }

    .logo-main {
        margin-bottom: 8vh;
    }

    .logo {
        width: 280px;
        transform: translateX(25px);
    }

    .welcome-text-2 div {
        margin-bottom: 8vh;
    }

    .welcome h1,
    .welcome h2 {
        font-size: 36px;
        line-height: 58px;
    }

    .welcome h3 {
        font-size: 60px;
        line-height: 81px;
    }

    /*
    =================
    THE PERFUME
    =================
    */
    .the-perfume .container {
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 0.8fr;
    }

    .the-perfume .pictures {
        display: grid;
        align-content: start;
        gap: 30px;
    }

    .the-perfume .pictures img {
        width: 100%;
    }

    /*
    =================
    PACKAGING
    =================
    */
    .packaging .container {
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: 0.8fr 1fr;
    }

    .packaging .container .paragraph {
        order: 1;
    }

    .packaging .pictures {
        display: grid;
        align-content: start;
        gap: 30px;
    }

    .packaging .pictures img {
        width: 100%;
    }

    /*
    =================
    PERFUME LIST
    =================
    */
    .table.parlist th:first-child,
    .table.parlist td:first-child,
    .table.parlist caption {
        padding-left: 12px;
    }

    .btn-container-parlist {
        width: 60%;
    }

    .table.parlist th:nth-of-type(2),
    .table.parlist th:nth-of-type(4),
    .table.parlist td:nth-of-type(2),
    .table.parlist td:nth-of-type(4) {
        display: table-cell;
    }

    .table.parlist td {
        font-size: 18px;
    }

    /*
    =================
    PRICE LIST
    =================
    */
    .btn-container-pricelist {
        display: flex;
        width: 90%;
    }

    .table.pricelist td:first-child {
        padding-left: 14px;
    }

    /* selecting all columns but the firs one */
    .table.pricelist td + td {
        padding-left: 26px;
    }

    .table.pricelist td:last-child {
        padding-right: 14px;
    }

    .table.pricelist caption {
        font-size: 46px;
        line-height: 66px;
    }

    .table.pricelist.init caption,
    .table.pricelist.ref caption {
        display: none;
    }

    .table.pricelist td {
        font-size: 24px;
        line-height: 50px;
        padding-top: 10px;
    }

    /* COVID-19 */
    /* new prices */
    .table.pricelist.init td:nth-child(3):before {
        bottom: 20px;
        left: 30px;
        border-width: 3px;
    }

    /* no refill service */
    .table.pricelist.ref:before {
        content: "Sorry.\aThis service temporarily unavailable\a because of the Coronavirus (COVID-19)\a measurements.";
        top: 42px;
        font-size: 2rem;
        line-height: 3.7rem;
        padding: 28px 40px;
        border-width: 3px;
        border-radius: 22px;
    }
    /* END OF COVID-19 */

    /*
    =================
    ORDER
    =================
    */
    .order .frame {
        margin-top: 40px;
        gap: 50px;
    }

    .order .frame p {
        font-size: 2.2rem;
    }

    .order .frame .phone {
        font-size: 4rem;
        line-height: 4rem;
    }

    .order .frame span {
        font-size: 2rem;
        line-height: 3rem;
    }

    /*
    =================
    CONTACT
    =================
    */
    .contact {
        margin-top: 10px;
    }

    .contact .form {
        width: 50%;
        gap: 20px;
    }

    .contact textarea {
        min-height: 200px;
        margin-bottom: 50px;
        border-radius: 24px;
    }

    .contact .btn {
        padding: 3px 28px;
    }

    /*
    =================
    FOOTER
    =================
    */
    footer {
        padding: 22px 22px;
        gap: 18px 34px;
        grid-template-columns: 34px auto;
        grid-template-rows: repeat(3, 34px);
    }

    i {
        font-size: 34px;
    }

    footer a {
        font-size: 24px;
    }
}
/* ||||||||||||||||||||| FINISHED UNTIL THIS POINT ||||||||||||||||||||| */
/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   LARGE TABLET PORTRAIT   *****************************
*/
@media only screen and (min-width: 11024px) and (orientation: portrait) {
    /*
    =================
    GLOBAL
    =================
    */
    /* menu links to position the sections */
    .anchor {
        /* display: block;
        position: relative;
        top: -65px;
        visibility: hidden; */
    }

    /* menu link only the first one to position the welcome screen */
    #an1 {
        /* top: -130px; */
    }

    .wrapper {
        /* width: 100%;
        margin: 0 auto;
        background-color: var(--base); */
    }

    .wrapper .block {
        /* box-sizing: border-box;
        width: 100%;
        padding: 30px 8px; */
    }

    .wrapper .block .frame {
        /* width: 100%;
        display: grid;
        gap: 14px;
        justify-items: center; */
    }

    hr {
        /* border: none;
        border-top: dotted;
        border-width: 3px;
        border-color: var(--baseOp1);
        margin: 0 auto;
        width: 90%; */
    }

    /*
    buttons
    ---------------
    */
    .btn {
        /* font-family: var(--fontPar);
        font-size: 22px;
        font-weight: 500;
        line-height: 36px;
        padding: 0 20px;
        border-radius: 14px;
        outline: none;
        cursor: pointer; */
        /* box-shadow: 0 0 10px var(--darkOp1); */
    }

    .btn:active {
        /* box-shadow: 0 0 1px var(--darkOp1); */
    }

    .btn.light {
        /* color: var(--darkOp1); */
        /* border: 3px solid var(--lightOp1); */
        /* background-color: var(--baseOp1); */
        /* border-width: 3px; */
    }

    .btn.light:active {
        /* color: var(--dark);
        border: 3px solid var(--light);
        background-color: var(--base); */
        /* border-width: 3px; */
    }

    .btn.dark {
        /* color: var(--lightOp1);
        border: 3px solid var(--baseOp1);
        background-color: var(--darkOp1); */
        /* border-width: 3px; */
    }

    .btn.dark:active {
        /* color: var(--light);
        border: 3px solid var(--base);
        background-color: var(--dark); */
        /* border-width: 3px; */
    }
    /* *********** */

    /*
  =================
  HEADER
  =================
  */
    header {
        height: 80px;

        /* background-color: var(--darkOp2); */
    }

    .phone-menu-BG {
        /* display: none; */
    }

    .logo-header {
        top: 14px;
        /* left: 28px; */
        transform: translateX(-36%) scale(1.4);
    }

    .navigation {
        /* position: absolute;
    top: 0;
    left: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start; */
    }

    /*
  menu button
  ---------------
   */
    .container-menu-btn {
        /* position: absolute; */
        top: -17px;
        /* right: -16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px; */
        /* cursor: pointer; */
        transform: scale(1.1);
    }

    /* *********** */

    .menu {
        top: 52px;
        right: 10px;
        /* width: 650px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; */
    }

    .menu-item {
        /* display: block; */
        margin-top: 4px;
        /* box-sizing: content-box; */
        width: 270px;
        border-radius: 10px;
        /* border: none;
        background: none;
        box-shadow: none;
        transform: skewY(0deg) translateX(0px); */
    }

    .menu-item a {
        font-size: 34px;
        line-height: 46px;
        /* color: var(--lightOp2); */
        padding: 0 22px;
        /* border-radius: 5px;
        transition: all 0.6s ease; */
    }

    .menu-item a:hover {
        /* background-color: var(--lightOp2);
    color: var(--darkOp2); */
    }

    .menu-item:hover {
        /* box-shadow: none;
    transform: skewY(0deg) translateX(0px) !important; */
    }

    /*
  =================
  HOME / WELCOME
  =================
  */

    .welcome {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .welcome h3:nth-child(2) {
        text-align: left;
        padding-top: 0;
        margin-left: 47px;
        align-self: flex-start;
    }

    .welcome h1,
    .welcome h2 {
        font-size: 34px;
        line-height: 46px;
        text-align: center;
        margin-top: 18px;
    }

    .welcome h3:last-child {
        padding-top: 0;
        text-align: right;
        margin-right: 47px;
        align-self: flex-end;
    }

    .welcome h1 {
        font-weight: 700;
    }

    .welcome h2 {
        font-weight: 400;
    }

    .welcome h3 {
        font-size: 60px;
        font-weight: 400;
        line-height: 81px;
    }

    .logo-container {
        width: fit-content;
        margin: 0;
    }

    .logo-main {
        margin-left: 54px;
    }

    .logo {
        width: 205px;
    }

    /*
  =================
  THE PERFUME
  =================
  */
    /* .the-perfume .section-title {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
  } */

    /* .the-perfume .section-title span {
    padding: 0 10px;
  } */

    .the-perfume .container {
        position: static;
        width: 90%;
        margin: 50px auto;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 0.6fr;
        padding-bottom: 0;
    }

    .the-perfume .container .paragraph {
        margin: 0;
        padding-top: 0;
    }

    .the-perfume .container .paragraph span + span {
        display: block;
        padding-top: 20px;
    }

    .the-perfume .pictures {
        /* position: static; */
        display: grid;
        align-content: space-between;
        /* gap: 20px; */
    }

    /* .the-perfume .pictures img {
    margin: 6px;
  } */

    /* .the-perfume .pictures img:nth-of-type(2),
  .the-perfume .pictures img:nth-of-type(3) {
    display: none;
  } */

    .the-perfume .pictures img:nth-of-type(1) {
        order: 1;
    }

    .the-perfume .pictures img:nth-of-type(4) {
        order: -1;
    }

    /*
  =================
  PACKAGING
  =================
  */
    .packaging .container {
        position: static;
        width: 95%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
    }

    .packaging .container .paragraph {
        width: 49%;
        margin: 0;
        padding-top: 0;
        order: 1;
    }

    .packaging .container .paragraph span + span {
        display: block;
        padding-top: 20px;
    }

    .packaging .pictures {
        position: static;
        width: 49%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        opacity: 1;
        overflow: visible;
    }

    .packaging .pictures img {
        margin: 6px;
    }

    .packaging .pictures img:nth-of-type(2) {
        display: none;
    }

    /*
  =================
  PERFUME LIST
  =================
  */
    .btn-container-parlist {
        width: 434px;
        margin: 48px auto 0;
    }

    .table.parlist {
        width: 94%;
        margin: 52px auto 0;
    }

    .table.parlist th:nth-of-type(2),
    .table.parlist th:nth-of-type(4),
    .table.parlist td:nth-of-type(2),
    .table.parlist td:nth-of-type(4) {
        display: table-cell;
    }

    .table.parlist caption {
        font-size: 35px;
        line-height: 41px;
    }

    .table.parlist th {
        font-size: 24px;
        line-height: 36px;
        padding-top: 5px;
    }

    .table.parlist td {
        font-size: 20px;
        line-height: 30px;
        padding-top: 5px;
    }

    /*
  =================
  PRICE LIST
  =================
  */
    .btn-container-pricelist {
        /* display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0; */
    }

    .table.pricelist {
        margin: 60px auto 0;
    }

    /* selecting all columns but the firs one */
    .table.pricelist td + td {
        padding-left: 40px;
    }

    .table.pricelist caption {
        font-size: 46px;
        line-height: 60px;
        margin-bottom: 18px;
    }

    .table.pricelist.init caption,
    .table.pricelist.ref caption {
        display: none;
    }

    .table.pricelist td {
        font-size: 24px;
        line-height: 50px;
        padding-top: 10px;
    }

    #info .popup {
        width: 274px;
        font-size: 0.8em;
        top: -50px;
        right: 60px;
    }

    /* COVID-19 */

    /* new prices */
    .table.pricelist.init td:nth-child(3):before {
        bottom: 20px;
        left: 32px;
        width: 84%;
        border-bottom: 3px solid red;
    }

    /* no refill service */
    .table.pricelist.ref:before {
        top: 80px;
        left: -166px;
        font-size: 1.4rem;
        line-height: 3.4rem;
        padding: 28px 50px;
        border: 3px solid rgb(58, 58, 58);
        border-radius: 10px;
    }
    /* END OF COVID-19 */

    /*
  =================
  GALLERY
  =================
  */
    .gallery .container {
        width: 912px;
    }

    /*
  =================
  CONTACT
  =================
  */
    .contact .form {
        width: 526px;
        margin: 50px auto 0;
    }

    .contact input {
        margin-bottom: 16px;
        padding-bottom: 10px;
    }

    .contact textarea {
        margin: 34px 0 50px;
        padding-top: 10px;
    }

    .contact .btn {
        padding: 3px 28px;
    }

    /*
  =================
  FOOTER
  =================
  */
    footer {
        justify-content: flex-start;
    }

    footer .container {
        margin-left: 40px;
    }
}

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   TABLET LANDSCAPE   *****************************
*/
@media only screen and(min-width: 11024px) and(orientation: landscape) {
}

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   DESKTOP/LAPTOP   *****************************
*/
@media only screen and (min-width: 11336px) and (orientation: landscape) {
    /*
  =================
  GLOBAL
  =================
   */
    .wrapper {
        width: 1280px;
    }

    hr {
        border-width: 8px;
        margin: 60px auto 0;
    }

    /*
  font styles
  ---------------
   */
    .section-title {
        font-size: 64px;
        line-height: 86px;
        padding-top: 60px;
    }

    /*
  =================
  HEADER
  =================
  */
    .navigation {
        left: 200px;
    }

    .menu {
        width: 960px;
    }

    /*
  =================
  HOME / WELCOME
  =================
  */
    .welcome {
        box-sizing: border-box;
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .welcome h3:nth-child(2) {
        margin-left: 55px;
    }

    .welcome h1,
    .welcome h2 {
        font-size: 42px;
        line-height: 57px;
        margin-top: 20px;
    }

    .welcome h3:last-child {
        margin-right: 55px;
    }

    .welcome h3 {
        font-size: 64px;
        line-height: 86px;
    }

    .logo-main {
        margin-left: 74px;
    }

    .logo {
        width: 226px;
    }

    /*
  =================
  THE PERFUME
  =================
  */

    /* .the-perfume .section-title {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
  } */

    /* .the-perfume .section-title span {
    padding: 0 10px;
  } */

    .the-perfume .container {
        width: 92%;
        margin: 54px auto;
    }

    .the-perfume .container .paragraph {
        width: 48%;
    }

    .the-perfume .pictures {
        width: 48%;
        height: 720px;
    }

    .the-perfume .pictures img {
        margin: 0;
    }

    .the-perfume .pictures img:nth-of-type(5) {
        display: none;
    }

    /*
  =================
  PACKAGING
  =================
  */
    .packaging .container {
        width: 92%;
        margin: 54px auto;
    }

    .packaging .container .paragraph {
        width: 48%;
    }

    .packaging .pictures {
        width: 48%;
    }

    .packaging .pictures img {
        margin: 0;
    }

    .packaging .pictures img:nth-of-type(3) {
        display: none;
    }

    /*
  =================
  PERFUME LIST
  =================
  */
    .table.parlist {
        width: 1200px;
    }

    .table.parlist caption {
        font-size: 41px;
        line-height: 46px;
    }

    .table.parlist th {
        font-size: 32px;
        line-height: 46px;
        padding-top: 6px;
    }

    .table.parlist td {
        font-size: 32px;
        line-height: 46px;
        padding-top: 6px;
    }

    /*
  =================
  PRICE LIST
  =================
  */
    .btn-container-pricelist {
        width: 983px;
    }

    /* selecting all columns but the firs one */
    .table.pricelist td + td {
        padding-left: 44px;
    }

    .table.pricelist td {
        font-size: 41px;
        line-height: 52px;
        padding-top: 10px;
    }

    .table.pricelist caption {
        font-size: 56px;
        line-height: 70px;
        margin-bottom: 24px;
    }

    /* COVID-19 */
    /* new prices */
    .table.pricelist.init td:nth-child(3):before {
        left: 36px;
        width: 88%;
        border-bottom: 4px solid red;
    }

    /* no refill service */
    .table.pricelist.ref:before {
        font-size: 2rem;
        line-height: 3.4rem;
        padding: 40px 80px;
    }
    /* END OF COVID-19 */

    /*
  =================
  GALLERY
  =================
  */
    .gallery .container {
        width: 1168px;
    }
}

/* 2173 */
/* 2458 */
